{% block content %}

<div class="util-links">
    <a href="{{ env.path + '/atom/' }}" rel="alternate">blog feed</a>
    <a href="https://twitter.com/wafuqua" rel="me">twitter</a>
    <a href="https://github.com/waf" rel="me">github</a>
    <a href="http://www.linkedin.com/in/wafuqua" rel="me">linkedin</a>
</div>
<div id="entries-search">
    <input class="search-box" type="search" placeholder="Filter&hellip;" />
    <ul class="list">
    {% for entry in env.entrylist %}
        <li>
            <span class="date">{{ entry.date.strftime("%G %B %e") }}</span>
            &mdash;
            <a class="title" href="{{ env.path + entry.permalink }}">{{ entry.title | e }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<script>
    window.addEventListener("load", function() {
        new List('entries-search', { 
            valueNames: ['title'],
            searchClass: 'search-box'
        });
    }, false);
</script>
{% endblock %}
