{% block content %}

<div class="util-links">
    <a href="https://twitter.com/wafuqua" rel="me">twitter</a>
    <a href="https://github.com/waf" rel="me">github</a>
    <a href="{{ env.path + '/atom.xml' }}" rel="alternate">blog feed</a>
</div>
<div id="entries-search">
    <input class="search-box" type="search" placeholder="Filter&hellip;" />
    <ul class="entry-list">
    {% for entry in env.entrylist %}
        <li>
            <a class="title tags-filter" data-tags="{{ entry.tags | join(" ") | replace("csharp", "csharp c#")}}" href="{{ env.path + entry.permalink }}">{{ entry.title | e }}</a>
            <span class="date">{{ entry.date.day }} {{ entry.date.strftime("%B %Y") }}</span>
        </li>
    {% endfor %}
    </ul>
</div>
<script>
    window.addEventListener("load", function() {
        new List('entries-search', { 
            valueNames: ['title', { name: 'tags-filter', attr: 'data-tags' } ],
            searchClass: 'search-box',
            listClass: 'entry-list'
        });
    }, false);
</script>
{% endblock %}
