<!DOCTYPE html>
<html lang="{{ entry.lang if entry else conf.lang }}">
    <head>
        {% block head -%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link media="all" href="{{ env.path + '/style/pygments-nuvola.css' }}" rel="stylesheet" />
        <link media="all" href="{{ env.path + '/style/main.css' }}" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" />
        {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
        {%- endif%}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Reenie+Beanie&amp;text=WilFqua" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata" />
        <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
        <link href="{{ env.path + '/rss/' }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
        {%- endblock %}
    </head>
    <body>
        <header>
            <a href="{{ env.path + '/' }}" rel="contents home start" class="blogtitle"><span class="first-name">Will</span><span class="last-name">Fuqua</span></a>
        </header>
        {%- block content -%}
        {%- endblock -%}
        <footer>
            {%- block footer -%}
            <a href="{{ env.path + '/atom/' }}" rel="alternate">blog feed</a>
            <a href="https://twitter.com/wafuqua" rel="me">twitter</a>
            <a href="https://github.com/waf" rel="me">github</a>
            <a href="http://www.linkedin.com/in/wafuqua" rel="me">linkedin</a>
            {%- endblock -%}
        </footer>
        <script src="{{ env.path + '/script/list.min.js' }}"></script>
    </body>
</html>
